# Daily internet Usage Statistis by Age Group

This dataset is from kaggle.com "Daily Internet Usage Statistics by Age Group".

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

In [3]:
df = pd.read_csv('daily_internet_usage_by_age_group.csv')

In [4]:
df.head()

,user_id,date,age,age_group,social_media_hours,work_or_study_hours,entertainment_hours,total_screen_time,primary_device,internet_type
0,1,2024-04-02,15,13-18,2.2,3.7,2.4,8.3,Mobile,WiFi
1,2,2024-06-07,13,13-18,1.1,6.9,2.1,10.1,Tablet,WiFi
2,3,2024-04-03,21,19-25,1.3,5.7,1.6,8.6,Tablet,WiFi
3,4,2024-10-02,35,26-35,2.5,5.0,2.0,9.5,Mobile,WiFi
4,5,2024-10-05,49,46-60,0.2,6.3,2.8,9.3,Laptop,WiFi

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              2800 non-null   int64
 1   date                 2800 non-null   object
 2   age                  2800 non-null   int64
 3   age_group            2800 non-null   object
 4   social_media_hours   2800 non-null   float64
 5   work_or_study_hours  2800 non-null   float64
 6   entertainment_hours  2800 non-null   float64
 7   total_screen_time    2800 non-null   float64
 8   primary_device       2800 non-null   object
 9   internet_type        2800 non-null   object
dtypes: float64(4), int64(2), object(4)
memory usage: 218.9+ KB

In [6]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
user_id,2800.0,NaN,NaN,NaN,1400.5,808.434702,1.0,700.75,1400.5,2100.25,2800.0
date,2800,366,2024-09-04,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,2800.0,NaN,NaN,NaN,38.3975,18.436556,13.0,22.0,35.0,53.0,75.0
age_group,2800,6,26-35,493,NaN,NaN,NaN,NaN,NaN,NaN,NaN
social_media_hours,2800.0,NaN,NaN,NaN,2.117143,1.113908,0.2,1.1,2.1,3.1,4.0
work_or_study_hours,2800.0,NaN,NaN,NaN,4.016107,1.722615,1.0,2.5,4.0,5.5,7.0
entertainment_hours,2800.0,NaN,NaN,NaN,2.021929,0.87612,0.5,1.3,2.0,2.8,3.5
total_screen_time,2800.0,NaN,NaN,NaN,8.155179,2.211885,2.0,6.6,8.1,9.7,14.0
primary_device,2800,3,Tablet,949,NaN,NaN,NaN,NaN,NaN,NaN,NaN
internet_type,2800,2,WiFi,1408,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Cleaning data

In [7]:
df['date'] = pd.to_datetime(df['date'])

Ordering age_group

In [11]:
df['age_group'].unique()

array(['13-18', '19-25', '26-35', '46-60', '36-45', '60+'], dtype=object)

In [ ]:
order = ['13-18', '19-25', '26-35', '36-45', '46-60', '60+']
df['age_group'] = pd.Categorical(df['age_group'], categories=order, ordered=True)