In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

In [2]:
df = pd.read_excel('Zestawienie_Studentow_Kierunku_Lekarskiego_i_Lekarsko_Dentystycznego_2025-12-31.xlsx')

In [5]:
df.head()

,Instytucja,Ogran nadzorująy,Nazwa kierunku,Liczba studentów zarejestrowanych po 2022-03-15 - ogółem,z ogółem z obywatelstwem polskim,z ogółem z obywatelstwem ukraińskim,z ogółem z obywatelstwem polskim zarejestrowanych po raz pierwszy,z ogółem z obywatelstwem ukraińskim zarejestrowanych po raz pierwszy,z ogółem z obywatelstwem ukraińskim zarejestrowanych po raz pierwszy na st. stacj. język kształcenia to polski
0,Akademia Kultury Społecznej i Medialnej w Toru...,Minister Nauki i Szkolnictwa Wyższego (poprzed...,kierunek lekarski,152,152,0,132,0,0
1,Akademia Mazowiecka w Płocku,Minister Nauki i Szkolnictwa Wyższego (poprzed...,kierunek lekarski,198,193,4,165,4,4
2,Akademia Medycznych i Społecznych Nauk Stosowa...,Minister Nauki i Szkolnictwa Wyższego (poprzed...,kierunek lekarski,322,321,1,215,1,1
3,Akademia Nauk Stosowanych w Nowym Sączu,Minister Nauki i Szkolnictwa Wyższego (poprzed...,kierunek lekarski,26,26,0,23,0,0
4,Akademia Nauk Stosowanych w Nowym Targu,Minister Nauki i Szkolnictwa Wyższego (poprzed...,kierunek lekarski,11,10,1,7,1,1

In [6]:
df.select_dtypes('number').describe().T

,count,mean,std,min,25%,50%,75%,max
Liczba studentów zarejestrowanych po 2022-03-15 - ogółem,49.0,765.204082,863.719644,11.0,189.0,443.0,770.0,3443.0
z ogółem z obywatelstwem polskim,49.0,668.000000,743.603249,10.0,188.0,386.0,686.0,3126.0
z ogółem z obywatelstwem ukraińskim,49.0,6.734694,9.961960,0.0,1.0,4.0,9.0,54.0
z ogółem z obywatelstwem polskim zarejestrowanych po raz pierwszy,49.0,567.224490,659.363338,7.0,160.0,297.0,513.0,2680.0
z ogółem z obywatelstwem ukraińskim zarejestrowanych po raz pierwszy,49.0,6.244898,9.303966,0.0,0.0,3.0,8.0,51.0
z ogółem z obywatelstwem ukraińskim zarejestrowanych po raz pierwszy na st. stacj. język kształcenia to polski,49.0,4.795918,7.563563,0.0,0.0,2.0,5.0,42.0

In [8]:
df.select_dtypes(['category', 'object']).describe().T

,count,unique,top,freq
Instytucja,49,38,Uniwersytet Medyczny w Białymstoku,2
Ogran nadzorująy,49,2,Minister Nauki i Szkolnictwa Wyższego (poprzed...,31
Nazwa kierunku,49,2,kierunek lekarski,38

In [9]:
df.columns

Index(['Instytucja', 'Ogran nadzorująy', 'Nazwa kierunku',
       'Liczba studentów zarejestrowanych po 2022-03-15 - ogółem',
       'z ogółem z obywatelstwem polskim',
       'z ogółem z obywatelstwem ukraińskim',
       'z ogółem z obywatelstwem polskim zarejestrowanych po raz pierwszy',
       'z ogółem z obywatelstwem ukraińskim zarejestrowanych po raz pierwszy',
       'z ogółem z obywatelstwem ukraińskim zarejestrowanych po raz pierwszy na st. stacj. język kształcenia to polski '],
      dtype='object')

In [10]:
df.index

RangeIndex(start=0, stop=49, step=1)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 9 columns):
 #   Column                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                           --------------  -----
 0   Instytucja                                                                                                       49 non-null     object
 1   Ogran nadzorująy                                                                                                 49 non-null     object
 2   Nazwa kierunku                                                                                                   49 non-null     object
 3   Liczba studentów zarejestrowanych po 2022-03-15 - ogółem                                                         49 non-null     int64
 4   z ogółem z obywatelstwem polskim                                                                                 49 non-null     int64
 5   z ogółem z obywatelstwem ukraińskim                                                                              49 non-null     int64
 6   z ogółem z obywatelstwem polskim zarejestrowanych po raz pierwszy                                                49 non-null     int64
 7   z ogółem z obywatelstwem ukraińskim zarejestrowanych po raz pierwszy                                             49 non-null     int64
 8   z ogółem z obywatelstwem ukraińskim zarejestrowanych po raz pierwszy na st. stacj. język kształcenia to polski   49 non-null     int64
dtypes: int64(6), object(3)
memory usage: 3.6+ KB

In [12]:
df.isna().sum()

Instytucja                                                                                                         0
Ogran nadzorująy                                                                                                   0
Nazwa kierunku                                                                                                     0
Liczba studentów zarejestrowanych po 2022-03-15 - ogółem                                                           0
z ogółem z obywatelstwem polskim                                                                                   0
z ogółem z obywatelstwem ukraińskim                                                                                0
z ogółem z obywatelstwem polskim zarejestrowanych po raz pierwszy                                                  0
z ogółem z obywatelstwem ukraińskim zarejestrowanych po raz pierwszy                                               0
z ogółem z obywatelstwem ukraińskim zarejestrowanych po raz pierwszy na st. stacj. język kształcenia to polski     0
dtype: int64

In [13]:
df.duplicated().sum()

np.int64(0)

## Czyszczenie danych

In [18]:
column_rename_map = {
    'Instytucja': 'uczelnia',
    'Ogran nadzorująy': 'organ_nadzoru',
    'Nazwa kierunku': 'kierunek',
    'Liczba studentów zarejestrowanych po 2022-03-15 - ogółem': 'studenci_suma',
    'z ogółem z obywatelstwem polskim': 'studenci_pl',
    'z ogółem z obywatelstwem ukraińskim': 'studenci_ua',
    'z ogółem z obywatelstwem polskim zarejestrowanych po raz pierwszy': 'nowi_pl',
    'z ogółem z obywatelstwem ukraińskim zarejestrowanych po raz pierwszy': 'nowi_ua',
    'z ogółem z obywatelstwem ukraińskim zarejestrowanych po raz pierwszy na st. stacj. język kształcenia to polski ': 'nowi_ua_stacj_pl'
}

df = df.rename(columns=column_rename_map)

In [20]:
df.head()

,uczelnia,organ_nadzoru,kierunek,studenci_suma,studenci_pl,studenci_ua,nowi_pl,nowi_ua,nowi_ua_stacj_pl
0,Akademia Kultury Społecznej i Medialnej w Toru...,Minister Nauki i Szkolnictwa Wyższego (poprzed...,kierunek lekarski,152,152,0,132,0,0
1,Akademia Mazowiecka w Płocku,Minister Nauki i Szkolnictwa Wyższego (poprzed...,kierunek lekarski,198,193,4,165,4,4
2,Akademia Medycznych i Społecznych Nauk Stosowa...,Minister Nauki i Szkolnictwa Wyższego (poprzed...,kierunek lekarski,322,321,1,215,1,1
3,Akademia Nauk Stosowanych w Nowym Sączu,Minister Nauki i Szkolnictwa Wyższego (poprzed...,kierunek lekarski,26,26,0,23,0,0
4,Akademia Nauk Stosowanych w Nowym Targu,Minister Nauki i Szkolnictwa Wyższego (poprzed...,kierunek lekarski,11,10,1,7,1,1

In [21]:
df['uczelnia'].unique()

array(['Akademia Kultury Społecznej i Medialnej w Toruniu - Akademia Nauk Stosowanych',
       'Akademia Mazowiecka w Płocku',
       'Akademia Medycznych i Społecznych Nauk Stosowanych',
       'Akademia Nauk Stosowanych w Nowym Sączu',
       'Akademia Nauk Stosowanych w Nowym Targu', 'Akademia Tarnowska',
       'Akademia WSB', 'Akademia Śląska', 'Gdański Uniwersytet Medyczny',
       'Katolicki Uniwersytet Lubelski Jana Pawła II',
       'Politechnika Bydgoska im. Jana i Jędrzeja Śniadeckich',
       'Politechnika Wrocławska',
       'Pomorski Uniwersytet Medyczny w Szczecinie',
       'Poznańska Akademia Medyczna Nauk Stosowanych im. Księcia Mieszka I',
       'Społeczna Akademia Nauk z siedzibą w Łodzi',
       'Uczelnia Medyczna im. Marii Skłodowskiej - Curie w Warszawie',
       'Uczelnia Łazarskiego w Warszawie',
       'Uniwersytet Andrzeja Frycza Modrzewskiego w Krakowie',
       'Uniwersytet Jagielloński w Krakowie',
       'Uniwersytet Jana Długosza w Częstochowie',
       'Uniwersytet Jana Kochanowskiego w Kielcach',
       'Uniwersytet Kaliski im. Prezydenta Stanisława Wojciechowskiego',
       'Uniwersytet Kardynała Stefana Wyszyńskiego w Warszawie',
       'Uniwersytet Medyczny im. Karola Marcinkowskiego w Poznaniu',
       'Uniwersytet Medyczny im. Piastów Śląskich we Wrocławiu',
       'Uniwersytet Medyczny w Białymstoku',
       'Uniwersytet Medyczny w Lublinie', 'Uniwersytet Medyczny w Łodzi',
       'Uniwersytet Mikołaja Kopernika w Toruniu', 'Uniwersytet Opolski',
       'Uniwersytet Radomski im. Kazimierza Pułaskiego',
       'Uniwersytet Rzeszowski',
       'Uniwersytet Warmińsko-Mazurski w Olsztynie',
       'Uniwersytet Warszawski',
       'Uniwersytet Zielonogórski w Zielonej Górze',
       'Uniwersytet w Siedlcach', 'Warszawski Uniwersytet Medyczny',
       'Śląski Uniwersytet Medyczny w Katowicach'], dtype=object)

In [ ]:
voivodeship_map = {
    'Akademia Kultury Społecznej i Medialnej w Toruniu - Akademia Nauk Stosowanych': 'Kujawsko-pomorskie',
    'Akademia Mazowiecka w Płocku': 'Mazowieckie',
    'Akademia Medycznych i Społecznych Nauk Stosowanych': 'Warmińsko-mazurskie',
    'Akademia Nauk Stosowanych w Nowym Sączu': 'Małopolskie',
    'Akademia Nauk Stosowanych w Nowym Targu': 'Małopolskie',
    'Akademia Tarnowska': 'Małopolskie',
    'Akademia WSB': 'Śląskie',
    'Akademia Śląska': 'Śląskie',
    'Gdański Uniwersytet Medyczny': 'Pomorskie',
    'Katolicki Uniwersytet Lubelski Jana Pawła II': 'Lubelskie',
    'Politechnika Bydgoska im. Jana i Jędrzeja Śniadeckich': 'Kujawsko-pomorskie',
    'Politechnika Wrocławska': 'Dolnośląskie',
    'Pomorski Uniwersytet Medyczny w Szczecinie': 'Zachodniopomorskie',
    'Poznańska Akademia Medyczna Nauk Stosowanych im. Księcia Mieszka I': 'Wielkopolskie',
    'Społeczna Akademia Nauk z siedzibą w Łodzi': 'Łódzkie',
    'Uczelnia Medyczna im. Marii Skłodowskiej - Curie w Warszawie': 'Mazowieckie',
    'Uczelnia Łazarskiego w Warszawie': 'Mazowieckie',
    'Uniwersytet Andrzeja Frycza Modrzewskiego w Krakowie': 'Małopolskie',
    'Uniwersytet Jagielloński w Krakowie': 'Małopolskie',
    'Uniwersytet Jana Długosza w Częstochowie': 'Śląskie',
    'Uniwersytet Jana Kochanowskiego w Kielcach': 'Świętokrzyskie',
    'Uniwersytet Kaliski im. Prezydenta Stanisława Wojciechowskiego': 'Wielkopolskie',
    'Uniwersytet Kardynała Stefana Wyszyńskiego w Warszawie': 'Mazowieckie',
    'Uniwersytet Medyczny im. Karola Marcinkowskiego w Poznaniu': 'Wielkopolskie',
    'Uniwersytet Medyczny im. Piastów Śląskich we Wrocławiu': 'Dolnośląskie',
    'Uniwersytet Medyczny w Białymstoku': 'Podlaskie',
    'Uniwersytet Medyczny w Lublinie': 'Lubelskie',
    'Uniwersytet Medyczny w Łodzi': 'Łódzkie',
    'Uniwersytet Mikołaja Kopernika w Toruniu': 'Kujawsko-pomorskie',
    'Uniwersytet Opolski': 'Opolskie',
    'Uniwersytet Radomski im. Kazimierza Pułaskiego': 'Mazowieckie',
    'Uniwersytet Rzeszowski': 'Podkarpackie',
    'Uniwersytet Warmińsko-Mazurski w Olsztynie': 'Warmińsko-mazurskie',
    'Uniwersytet Warszawski': 'Mazowieckie',
    'Uniwersytet Zielonogórski w Zielonej Górze': 'Lubuskie',
    'Uniwersytet w Siedlcach': 'Mazowieckie',
    'Warszawski Uniwersytet Medyczny': 'Mazowieckie',
    'Śląski Uniwersytet Medyczny w Katowicach': 'Śląskie'
}


df['wojewodztwo'] = df['uczelnia'].map(voivodeship_map)

In [24]:
df['organ_nadzoru'].unique()

array(['Minister Nauki i Szkolnictwa Wyższego (poprzednio MEiN)',
       'Minister Zdrowia'], dtype=object)

In [28]:
df['organ_nadzoru'] = df['organ_nadzoru'].replace({'Minister Nauki i Szkolnictwa Wyższego (poprzednio MEiN)': 'Minister Nauki i Szkolnictwa Wyższego'})

In [29]:
df['kierunek'].unique()

array(['kierunek lekarski', 'kierunek lekarsko-dentystyczny'],
      dtype=object)

In [31]:
df['kierunek'] = df['kierunek'].replace({
    'kierunek lekarski': 'lekarski',
    'kierunek lekarsko-dentystyczny': 'lekarsko-dentystyczny'
})